<div class="header">
  <button class="todo__menu-btn"></button>
  <div class="todo__menu">
    <div class="todo__menu-logo">To do</div>
    <div class="search">
      <div class="search-icon"></div>
      <input class="search-input" type="text" placeholder="Search" />
    </div>
    <div class="todo__menu-icon">
      <ul class="icon__list">
        <li class="icon__list-item">
          <button>a</button>
        </li>
        <li class="icon__list-item">
          <button>b</button>
        </li>
        <li class="icon__list-item">
          <button>c</button>
        </li>
      </ul>
    </div>
  </div>
  <button class="todo__menu-btn"></button>
</div>
