<div class="sidebar">
  <div class="sidebar__content">
    <nav class="sidebar__nav">
      <ul class="sidebar__list">
        <li class="sidebar__list-item">
          <span>My Day</span>
        </li>
        <li class="sidebar__list-item">
          <span>Important</span>
        </li>
        <li class="sidebar__list-item">
          <span>Planned</span>
        </li>
        <li class="sidebar__list-item">
          <span>Assigned to me</span>
        </li>
        <li class="sidebar__list-item">
          <div class="sidebar__task">
            <div>Task</div>
            <div class="sidebar__task-count"></div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
